<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lecheng.hello.thirdapp">

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许获取联系人的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 允许修改联系人的权限 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="51ee952310e571951a23be9404933fc0" />

        <activity
            android:name=".AaMainMenu.MainMenu"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityList.Aty001Service"
            android:label="服务1" />

        <service
            android:name=".Service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ActivityList.Aty003EveryLayout_Frame"
            android:label="@string/title_activity_fl" />
        <activity
            android:name=".ActivityList.Aty003EveryLayout"
            android:label="@string/title_activity_layout3" />
        <activity
            android:name=".ActivityList.Aty004Animation"
            android:label="@string/title_activity_animation4" />
        <activity
            android:name=".ActivityList.Aty005MulTouch"
            android:label="@string/title_activity_mul_touch5" />
        <activity
            android:name=".ActivityList.Aty006SQLite"
            android:label="@string/title_activity_sqlite6" />
        <activity
            android:name=".ActivityList.Aty014Fragment"
            android:label="@string/title_activity_fragment2" />
        <activity
            android:name=".ActivityList.Aty014Fragment_Navi"
            android:label="@string/title_activity_navigation" />
        <activity
            android:name=".ActivityList.Aty014Fragment_Tabed"
            android:label="@string/title_activity_tabed" />
        <activity
            android:name=".ActivityList.Aty007SurfaceView"
            android:label="画板" />
        <activity
            android:name=".ActivityList.Aty008TestTextViewCtrl"
            android:label="TextPlayku" />
        <activity
            android:name=".ActivityList.Aty009View"
            android:label="@string/title_activity_view9" />
        <activity
            android:name=".ActivityList.Aty010ViewPager"
            android:label="@string/title_activity_guide10" />
        <activity
            android:name=".ActivityList.Aty011HttpAsyncTask"
            android:label="@string/title_activity_async_task11" />
        <activity
            android:name=".ActivityList.Aty011HttpAsyncTask_1"
            android:label="@string/title_activity_http_client" />
        <activity
            android:name=".ActivityList.Aty012TestFileExplore"
            android:label="@string/title_activity_file_explore12" />
        <activity
            android:name=".ActivityList.Aty013JSONResolve"
            android:label="@string/title_activity_json13" />

        <receiver android:name=".Receiver.SmsReceiver">
            <intent-filter android:priority="800">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ActivityList.Aty002ServiceAnother"
            android:label="另一个服务" />
        <activity android:name=".ActivityList.Aty015Volley" />
        <activity android:name=".ActivityList.Aty016TestListView" />
        <activity android:name=".ActivityList.Aty017TestLvAndCheckBox" />
        <activity android:name=".ActivityList.Aty018MyBrowser" />
        <activity android:name=".ActivityList.Aty019TestWebView" />
        <activity android:name=".ActivityList.Aty020FragmentTabHost" />
        <activity android:name=".ActivityList.Aty021Demo" />
        <activity android:name=".ActivityList.Aty022UniversalImgLoader" />
        <activity android:name=".ActivityList.Aty023UploadPic" />
        <activity android:name=".ActivityList.Aty023UploadPic_Select" />
        <activity android:name=".ActivityList.Aty024ShareToFriends" />
        <activity android:name=".ActivityList.Aty025TestBackTop" />
        <activity android:name=".ActivityList.Aty026XListView" />
        <activity android:name=".ActivityList.Aty027ViewFlipper" />
        <activity android:name=".ActivityList.Aty028PicView" />
        <activity android:name=".ActivityList.Aty029AMap" />
        <activity android:name=".ActivityList.Aty030VideoView" />
        <activity
            android:name=".ActivityList.Aty031Blur"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ActivityList.Aty032TestBanner" />
        <activity android:name=".ActivityList.Aty033UploadFile" />
        <activity android:name=".ActivityList.Aty033UploadFile_2" />
        <activity android:name=".ActivityList.Aty033UploadFile_1" />
        <activity android:name=".ActivityList.Aty034Tuner" />
        <activity android:name=".ActivityList.Aty035Contact" />
        <activity android:name=".ActivityList.Aty036Calculator" />
        <activity android:name=".ActivityList.Aty037Weather" />
        <activity android:name=".ActivityList.Aty037Weather_City" />
        <activity android:name=".ActivityList.Aty038Game2048" />
        <activity android:name=".ActivityList.Aty039MVP" />
        <activity android:name=".ActivityList.Aty040NewWeather"></activity>
    </application>

</manifest>